:root {
    --cor-principal:#1a0bba;
    --cor-segundaria:#A020F0;
    --cor-fundo:#20B2AA;
    --tamanho-fonte:18px;
}
p {
    color:var(--cor-principal);
   font-size:var(--tamanho-fonte);
}
h1 {
    color:var(--cor-segundaria);
    font-family:var(--fonte-principal);
}
